body{
    background-image: url(child2.jpg);
    margin: 0 ;
    padding: 0;
    font-family: sans-serif;
    background-repeat: round;
    background-size: 900px;
}


.sign-in-form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
   padding: 40px ;
    background: rgba(255, 254, 254, 0.8) ;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.5); 
    border-radius: 10px ;
    text-align: center;

}

.input-box{
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    width: 80%;
    border: 1px solid #999;
    outline: none;
}
button{
    color: #fff;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;
}
.signin-btn{
    background-color: #338b7e;

}
a{
    text-decoration: none;
}



.social-icons{
    margin: 30px auto;
    text-align: center;

}
.social-icons img{
    width: 30px;
    margin: 0 12px;
    box-shadow: 0 0 20px #338b7e;
    cursor: pointer;
    border-radius: 50%;
    

}
